<div class="stock-status-ribbon-component">
  <div
    class="progress"
    ng-style="{ 'height': $ctrl.data.config.styles.height }"
  >
    <div
      class="progress-bar"
      ng-repeat="bar in $ctrl.config.bars track by $index"
      ng-class="bar.class"
      ng-style="{ 'width': $ctrl.data[bar.id].percentage + '%', 'height': $ctrl.data.config.styles.height, 'line-height': $ctrl.data.config.styles.height }"
    >
      <span>
        <span
          ng-bind="$ctrl.data[bar.id].value | number: 0"
        ></span><span ng-if="$ctrl.config.isPercentage">%</span>
      </span>
    </div>
  </div>
</div>
